{% if cookiecutter.use_docker -%}
services:
  app:
    build:
      context: ../../{{cookiecutter.project_slug}}
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    environment:
      - APP_ENV=dev
    volumes:
      - ../../{{cookiecutter.project_slug}}/app:/app/app
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    {% if cookiecutter.db_driver == "postgresql" -%}
    depends_on:
      postgres:
        condition: service_healthy
    {%- endif %}

  {% if cookiecutter.db_driver == "postgresql" -%}
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: {{ cookiecutter.project_slug }}_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata_dev:
  {%- endif %}
{%- endif %}
